.app-container {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background-image:url('https://pbs.twimg.com/media/BSy0-nSIQAAs6aq.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  color: #8b008b;
  font-size: 24px;
  margin-right: 20px;
}



.content {
  background-color: #ffffffd5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-list-container {
  display: flex;
  justify-content: space-between;
}

.todo-list, .completed-list {
  width: 48%;
}

.list-title {
  color: #8b008b;
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

.completed {
  text-decoration: line-through;
}
